# ignore temporary files
*.TODO
*.swp
*.ori
*.log

# ignore composer conf files
#   make them become local links to different area's version: 
#   composer.json.cn and composer.lock.cn
composer.json
composer.lock

# ignore uploaded imgage files
/public/uploads/**/*.jpg
/public/uploads/**/*.png

# ignore vendor files
/vendor
